<h1>Login</h1>

<%= render "form.html", assigns |> Map.put(:action, Routes.user_path(@conn, :sign_in)) |> Map.put(:button, "Login") %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
