<h1>New User</h1>

<%= render "form.html", assigns |> Map.put(:action, Routes.user_path(@conn, :create)) |> Map.put(:button, "Save") %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
